{% extends "dappx/base.html" %}
{% block gps_block %}
    <div class="mainContainer">
        <div class="eventBox">
            <label>Enter a note</label>
            <textarea placeholder="Add Description of Event"></textarea>
        </div>
    </div>
    <div class="secAction">
        <div class="mainContainer">
            <button class="actionBtn" id="locationAuth">Submit</button>
        </div>
    </div>
    <div class="modal" id="LocationModal">
        <div class="modal-overlay"></div>
        <div class="modal-wrapper modal-transition">
            <div class="modal-header">
                <img src="/static/avater.png"static/modalLogo.png""  class="modalLogo">
            </div>
            <div class="modal-body">
                <div class="modal-content">
                    <div class="textCenter">
                        <img src="/static/location.png">
                        <h3 class="locAuthTitle">Location Permission</h3>
                        <p class="locAuthDesc">Please allow permissions for accessing your location through GPS.</p>
                        <button class="btnSubmit">Allow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
